SQLAlchemy==1.1.1
python-telegram-bot==10.1.0
requests==2.26.0
arrow==0.12.1
pycryptodome==3.6.6
emoji==0.4.5
pytils==0.3
google-cloud-vision==0.33.0
six==1.16.0
setuptools>=36.6.0
PyMySQL==1.0.2
redis==2.10.6
apiai==1.2.3
flask==1.0.2
flask-cors==3.0.6
Pillow==9.0.1
ImageHash==4.2.1
PySocks==1.6.8
jsonpath-ng==1.5.3
instaloader==4.8.1
tweepy==4.1.0
